{% extends "task.html" %}

{% block error_block %}
{% if form.errors %}
	<!-- Error messaging -->
	<div id="errors">
		<div class="row-fluid">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}
{% endblock %}

{% block explanation %}
<div class = "row-fluid">
    <p>Gasiti tabelul "IV. Active financiare", sectiunea "2. Plasamente, investitii directe si imprumuturi acordate, etc" si transcrieti datele de pe randul {{nr_rand}}</p>
</div>
{% endblock %}